@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Permanent+Marker&display=swap');

.App {
  text-align: center;
  background-image: url("./smokeBackground.gif");
  background-size: cover;
}

.stepAway {
  font-family: 'Comforter Brush', cursive;
  font-size: 80px;
  cursor: pointer;
  margin: 8vh ;
}

.seeYou {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  cursor: pointer;
  margin: 4vh ;
}

.App-logo {
  height: 40vmin;
  cursor: pointer;
}

.save {
  color: #ffff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Permanent Marker', cursive;
  border-radius: 5px;
  font-size: 25px;
  position: absolute;
  margin-left: 90vw;
  margin-bottom: 80vh;
}

.save:hover {
  background-color: #5f2cc5;
  color: #3547e6;
}

.input {
  background: transparent;
  color: #FFFF;
  border: transparent;
  text-align: center;
}

.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
