@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Permanent+Marker&display=swap');

.App {
  text-align: center;
  background-image: url("https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy-downsized-large.gif");
  background-size: cover;
}

.stepAway {
  font-family: 'Comforter Brush', cursive;
  font-size: 80px;
}

.seeYou {
  font-family: 'Permanent Marker', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
